.markdown-source-view.mod-cm6 .cm-line {
    caret-color: white !important;
}

div.grid {
/*  height: 100px;*/
}

div.grid::before {
/*  font-weight: bold;*/
/*  color: navy;*/
  color: var(--code-comment);
  content: "[card grid]";
}

div.grid > *{
  display: none;
/*  height: 30px;*/
}
div.grid {
  color: #282a36;
}

div.grid div{
  display: none;
/*  height: 30px;*/
}

div.mermaid {
  text-align: center;
}

.markdown-embed-title {
  display: none;
}

div.internal-embed.markdown-embed.inline-embed.is-loaded {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.markdown-embed-content p {
  margin-bottom: 0px;
}
.markdown-embed-content table {
  margin-bottom: 0px;
}

/*
img:hover {
  opacity: 1;
}
*/
img {
  transition: opacity 100ms;
  opacity: .9;
  zoom: 26%;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.workspace-tab-header-container {
  background-color: #44475a;
}


.workspace,.theme-dark {
  --color-red: #ff5555;
  --color-orange: #ffb86c;
  --color-yellow: #f1fa8c;
  --color-green: #50fa7b;
  --color-cyan: #8be9fd;
  --color-blue: #8BA7FD;
  --color-purple: #bd93f9;
  --color-pink: #ff79c6;
  --color-base-00: #0D0E12;
  --color-base-10: #282a36;
  --color-base-20: #393c49;
  --color-base-25: #4c4e5e;
  --color-base-30: #4c4e5e;  /*outlines*/
  --color-base-35: #737688;
  --color-base-40: #878b9f;
  --color-base-50: #9ca0b6;  /* unselected tab text */
  --color-base-60: #b2b6cd;
  --color-base-70: #c8cce5;
  --color-base-100: #dee3fe;
  --color-white: #f8f8f2;
  --interactive-accent: #44475a;
  --blockquote-border: #44475a;

  --h1-weight: 300;
  --h2-weight: 400;
  --h3-weight: 700;

  --h1-size: 1.7em;
  --h2-size: 1.4em;
  --h3-size: 1.1em;
  --h4-size: 1em;
  --h5-size: 1em;
  --h2-style: italic;

/*  --h1-color: var(--color-white);*/
/*  --h2-color: var(--color-white);*/
/*  --h3-color: var(--color-white);*/

  --text-normal: #b2b6cd;
  --code-comment: #6272a4;


  --code-punctuation: var(--color-white);
  --code-value: var(--color-purple);
  --code-string: var(--color-yellow);
  --code-operator: var(--color-pink);
  --code-property: var(--color-white);
  --code-function: var(--color-green);
  --code-keyword: var(--color-pink);
/*  --code-important: var(--color-XXX);*/
  --code-normal: var(--color-white);
  --code-tag: var(--color-pink);

  --checklist-done-color: var(--code-comment);
  --checkbox-color: var(--code-comment);
/*  --checkbox-border-color: var(--color-base-25);*/
/*  --list-marker-color: var(--color-base-25);*/
/*  --checklist-done-decoration:none;*/
/*  --checklist-done-color:#888;*/

}

span.cm-comment {
  color: var(--code-comment) !important;
}

.cm-hashtag, .tag {
  color: var(--color-green) !important;
}


.inline-title {
  font-weight: 100;
  font-size: 3em;
}

.cm-s-obsidian span.cm-inline-code {
  background-color: transparent !important;
}

/* highlight currently open editor suggestions */
.suggestion-item.qsp-open-editor .qsp-title {
  text-decoration: none;
}

/* highlight recently used file suggestions */
.suggestion-item.qsp-recent-file .qsp-title {
  text-decoration: none;
}

.qsp-path {
  color: #7F7F7F;
}

/* suggestion file path icon */
.qsp-path-indicator {
/*  margin-right: 4px;*/
/*  vertical-align: middle;*/
  display: none;
}

/* flair icon for suggestions that represent a recent file */
.qsp-recent-indicator {
  color: red;
}
